# Example notebook for timestop and pandas

## library imports

In [1]:
import numpy as np # math operations e.g. sqrt, matrix, arrays, pi
import pandas as pd # dataframes

## open csv file

In [2]:
df = pd.read_csv("../data/raw_data_timestop.csv", index_col=0)

look into dataframe

In [3]:
df

    periods  half periods  half periods v2
0  0.796932      1.660790         1.660790
1  0.863858      1.711094         1.712551
2  0.848693      1.720629         1.711094
3  0.862401      1.821119         1.686848
4  0.824447           NaN         1.720629
5  0.896182           NaN         1.795883
6  0.899701           NaN         1.821119
7  0.921418           NaN         1.751311
8  0.829893           NaN              NaN

get columns

In [4]:
df.columns

Index(['periods', 'half periods', 'half periods v2'], dtype='object')

select specific columns from dataframe

In [5]:
df[['half periods', 'periods']]

   half periods   periods
0      1.660790  0.796932
1      1.711094  0.863858
2      1.720629  0.848693
3      1.821119  0.862401
4           NaN  0.824447
5           NaN  0.896182
6           NaN  0.899701
7           NaN  0.921418
8           NaN  0.829893

select column

In [6]:
df["periods"]

0    0.796932
1    0.863858
2    0.848693
3    0.862401
4    0.824447
5    0.896182
6    0.899701
7    0.921418
8    0.829893
Name: periods, dtype: float64

change index

In [7]:
df.index += 1
df

    periods  half periods  half periods v2
1  0.796932      1.660790         1.660790
2  0.863858      1.711094         1.712551
3  0.848693      1.720629         1.711094
4  0.862401      1.821119         1.686848
5  0.824447           NaN         1.720629
6  0.896182           NaN         1.795883
7  0.899701           NaN         1.821119
8  0.921418           NaN         1.751311
9  0.829893           NaN              NaN

create new column

In [8]:
df["random values"] = [1,3,2,45,2,3,2,3,1]
df

    periods  half periods  half periods v2  random values
1  0.796932      1.660790         1.660790              1
2  0.863858      1.711094         1.712551              3
3  0.848693      1.720629         1.711094              2
4  0.862401      1.821119         1.686848             45
5  0.824447           NaN         1.720629              2
6  0.896182           NaN         1.795883              3
7  0.899701           NaN         1.821119              2
8  0.921418           NaN         1.751311              3
9  0.829893           NaN              NaN              1

rename column

In [9]:
df.rename(columns={"random values": "crazy stuff"}, inplace=True)
df

    periods  half periods  half periods v2  crazy stuff
1  0.796932      1.660790         1.660790            1
2  0.863858      1.711094         1.712551            3
3  0.848693      1.720629         1.711094            2
4  0.862401      1.821119         1.686848           45
5  0.824447           NaN         1.720629            2
6  0.896182           NaN         1.795883            3
7  0.899701           NaN         1.821119            2
8  0.921418           NaN         1.751311            3
9  0.829893           NaN              NaN            1

create new column from old column

In [10]:
df["10 periods"] = df["periods"]*10
df

    periods  half periods  half periods v2  crazy stuff  10 periods
1  0.796932      1.660790         1.660790            1    7.969320
2  0.863858      1.711094         1.712551            3    8.638577
3  0.848693      1.720629         1.711094            2    8.486929
4  0.862401      1.821119         1.686848           45    8.624012
5  0.824447           NaN         1.720629            2    8.244472
6  0.896182           NaN         1.795883            3    8.961818
7  0.899701           NaN         1.821119            2    8.997011
8  0.921418           NaN         1.751311            3    9.214180
9  0.829893           NaN              NaN            1    8.298931

## create dataframe

data

In [11]:
amplitude = [5, 10, 15, 20, 30, 45]
ten_periods = [30.13033652305603, 30.172121739387514, 30.212882733345033, 30.251499509811403, 30.293308448791503, 30.50780780315399]

manipulate data and create new data

In [12]:
periods = [duration/10 for duration in ten_periods]
print("periods: ", periods)
normed_periods = [periods[idx]/periods[0] for idx in range(len(periods))]
print("normed periods: ", normed_periods)

periods:  [3.013033652305603, 3.017212173938751, 3.0212882733345032, 3.0251499509811404, 3.0293308448791505, 3.050780780315399]
normed periods:  [1.0, 1.0013868154542351, 1.002739637847252, 1.0040212955027124, 1.0054088982912874, 1.0125279476984639]

**Excursus:** list comprehensions

In [13]:
# create list with numbers
list_number = list(range(10)) # you can add <start>, <stop>, <step> to range function
print(list_number)

# list created by for-loop from other list
list_number_half = [num/2 for num in list_number]
print(list_number_half)

# list created by for-loop from other list only with certain elements
list_number_only_even_half = [num/2 for num in list_number if num%2 == 0]
print(list_number_only_even_half)

# list created by for-loop from other list with different operations for elements
list_number_even_half_odd_sqrt = [num/2 if num%2 == 0 else np.sqrt(num) for num in list_number]
print(list_number_even_half_odd_sqrt)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]
[0.0, 1.0, 2.0, 3.0, 4.0]
[0.0, 1.0, 1.0, 1.7320508075688772, 2.0, 2.23606797749979, 3.0, 2.6457513110645907, 4.0, 3.0]

create dataframe from dict

In [14]:
data = {
    "amplitude": amplitude,
    "10 periods": ten_periods,
    "periods": periods,
    "normed periods": normed_periods,
}
df = pd.DataFrame(data)
df

   amplitude  10 periods   periods  normed periods
0          5   30.130337  3.013034        1.000000
1         10   30.172122  3.017212        1.001387
2         15   30.212883  3.021288        1.002740
3         20   30.251500  3.025150        1.004021
4         30   30.293308  3.029331        1.005409
5         45   30.507808  3.050781        1.012528

output dataframe for latex

In [15]:
print(df.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &  amplitude &  10 periods &   periods &  normed periods \\
\midrule
0 &          5 &   30.130337 &  3.013034 &        1.000000 \\
1 &         10 &   30.172122 &  3.017212 &        1.001387 \\
2 &         15 &   30.212883 &  3.021288 &        1.002740 \\
3 &         20 &   30.251500 &  3.025150 &        1.004021 \\
4 &         30 &   30.293308 &  3.029331 &        1.005409 \\
5 &         45 &   30.507808 &  3.050781 &        1.012528 \\
\bottomrule
\end{tabular}

/var/folders/v5/72f66vs1133dr6d7cfwwyxm40000gn/T/ipykernel_6638/2350534188.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df.to_latex())

save dataframe as csv

In [16]:
df.to_csv("../data/timestop_notebook.csv")